# ------------------------------------
# Standard Java/Maven Files to Ignore
# ------------------------------------
# Ignore everything in target/
/target/*

# Exception to track the final JAR
!/target/*.jar

# Log files
*.log
*.Log
logs/

# Temporary files
*.tmp
*.temp

# ------------------------------------
# IDE/OS Specific Files to Ignore
# ------------------------------------
.idea/

# VS Code files 
.vscode/

# Operating System files
.DS_Store
Thumbs.db